@model List<IntroductionMVC5.Models.Integrator.Truck>

@{
    ViewBag.Title = "Trucks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="border-bottom: 1px solid #5D5A53; float: left; width: 100%; margin-top: 10px">
    <tr>
        <td style="width: 50%;">
            <input type="submit" class="btn btn-primary" value="Add Truck" onclick=" location.href='@Url.Action("Create", "Truck")' " />
        </td>
    </tr>
</table>

<h3>All Trucks</h3>

<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th>
                Registration Number
            </th>
            <th>
                Supplier
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.TruckRegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierInfo.SupplierName)
            </td>
        </tr>
    }
</table>
