@using IntroductionMVC5.Web.Models
@using Microsoft.AspNet.Identity
@model List<IntroductionMVC5.Models.Integrator.SupplierInfo>

@{
    ViewBag.Title = "Sales Rep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top: 10px">
    <input style="margin-top: 10px" class="btn btn-primary" type="button" onclick=" location.href='@Url.Action("Index", "Product")    ' "  value=" back" />
</div>
<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th>
                Supplier Name
            </th>
            <th>
                Sales Rep
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DropDownList("Id", (SelectList)ViewBag.Users, string.Empty, new { @id = "paymentType", @class = "form-control", @style = "width: 10px;" })
            </td>
        </tr>
    }
</table>