@using IntroductionMVC5.Models.PettyCash
@model List<Account>

<table style="border-bottom: 1px solid #5D5A53; float: left; width: 100%; margin-top: 10px">
    <tr>
        <td style="width: 50%;">
            <button class="btn btn-primary btn-default" style="margin-bottom: 5px" data-toggle="modal" data-target="#accountModal">
                <span class="glyphicon glyphicon-plus"></span>Add Account
            </button>
            @if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
            {
                <button class="btn btn-primary btn-default" style="margin-bottom: 5px" data-toggle="modal" data-target="#PaymentTypeModal">
                    <span class="glyphicon glyphicon-plus"></span> Add payment type
                </button>
            }
        </td>
    </tr>
</table>
<h3>All Accounts</h3>
<table class="table table-bordered" style=" width: 50%;margin-top: 10px;">
    <thead>
        <tr class="info">
            <th>
                Name
            </th>
            <th>
                Balance
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @Html.ActionLink(string.Format("{0}", item.Name), "AccountHistory", new { Name = item.Name }, new { @style = "color:#F6855E;" })
            </td>
            <td>
                @String.Format("R {0}", item.Balance)
            </td>
        </tr>
    }
</table>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightblue">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Account</h4>
            </div>
            @using (Html.BeginForm("CreateAccount", "PettyCash", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @{ Html.RenderPartial("_CreateAccount", new Account()); }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="PaymentTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightblue">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="False">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Payment type</h4>
            </div>
            @using (Html.BeginForm("CreatePaymentType", "PettyCash", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @{ Html.RenderPartial("CreatePaymentType", new PaymentType()); }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            }
        </div>
    </div>
</div>