@using IntroductionMVC5.Models.PettyCash
@model IntroductionMVC5.Web.ViewModel.PettyCashViewModel

@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
<table style="width: 500px">
    <tr style="margin-bottom: 10px">
        <td>
            <strong>
                Type
            </strong>
        </td>
        <td>
            <strong>
                Description
            </strong>
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            <strong>
                Pastel No
            </strong>
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            <strong>
                Ref no
            </strong>
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            <strong>
                Amount
            </strong>
        </td>
    </tr>
    <tr style="margin-bottom: 10px">
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            Test
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            Test
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            Test
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            Test
        </td>
        <td style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            Test
        </td>
    </tr>
</table>
