@model string

@using (Html.BeginForm("Search", Model))
{
    <div class="col-lg-5">
        <input name="date" id="searchDate" class="datepicker" type="text" value="@Request["date"]" style="margin-bottom: 5px" />
        <span class="add-on"><i class="glyphicon glyphicon-th"></i></span>
        <button class="btn btn-default btn-default" type="submit" style="margin-bottom: 5px">
            <span class="glyphicon glyphicon-search"></span> Go
        </button>
    </div>
}
