<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ImagesFolderPath" value="~/img/homes/" />
    <add key="ConnectionStringName" value="IntroductionMVC" />
    <add key="UsersTableName" value="Users" />
    <add key="UsersPrimaryKeyColumnName" value="Id" />
    <add key="UsersUserNameColumnName" value="Username" />
    <add key="LogoPath" value="C:\Projects\Rustivia\IntroductionMVC5\IntroductionMVC5\Content\img\RustiviaLogo.png" />
  </appSettings>
  <connectionStrings>
    <!--    <add name="CodedHomesDEV" connectionString="Data Source=NTSHIVHASE\SQLEXPRESS;Initial Catalog=CodedHomesDEV;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="IntroductionMVC" connectionString="Data Source=NDAVHE-PC;Initial Catalog=IntroductionMVC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=NDAVHE-PC;Initial Catalog=IntroductionMVC;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>