  <!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>We Are Professional</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="row">

                <div class="col-md-7">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Welcome To Tusso technologies</span></h4>

                    <!-- Some Text -->
                    <p>Our goal is to serve as your technology partner with a focus on providing reliable and affordable solutions. Every organization is unique, including its IT needs, capabilities, and objectives. As a provider, we do not offer canned services; every engagement is custom designed to meet the organization’s specific requirements and goals.</p>
                    <p>
                        To serve and to protect the interest of our Clients through providing the best services available.
                        To achieve excellence in providing those services and to encourage their participation through employing the ever evolving information and communication technologies.To provide both the private and public sector with innovative solutions that exploit the potential of cutting-edge Information Technologies. This we do by listening closely to the needs of our clients as they grapple to align new technologies with business strategies. To provide clients with high quality, appropriate, total Information Technology Solutions, at Cost-effective rates, in time, all the time - with the required on-going service and support.
                    </p>

                </div>

                <div class="col-md-5">

                    <!-- Start Touch Slider -->
                    <div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true">
                        <div class="item"><img alt="" src="~/images/about01.jpg"></div>
                        <div class="item"><img alt="" src="~/images/about02.jpg"></div>
                        <div class="item"><img alt="" src="~/images/about03.jpg"></div>
                    </div>
                    <!-- End Touch Slider -->

                </div>

            </div>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:50px;"></div>

            <div class="row">

                <div class="col-md-6">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Our Skills</span></h4>

                    <div class="skill-shortcode">
                        <div class="skill">
                            <p>Web Design</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-percentage="85%">
                                    <span class="progress-bar-span">85%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Project Managment</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-percentage="90">
                                    <span class="progress-bar-span">90%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>CSS 3</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-percentage="90">
                                    <span class="progress-bar-span">90%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>HTML 5</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-percentage="100">
                                    <span class="progress-bar-span">100%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>.Net Technologies</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-percentage="100">
                                    <span class="progress-bar-span">100%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Why Tusso Technologies</span></h4>

                    <!-- Accordion -->
                    <div class="panel-group" id="accordion">

                        <!-- Start Accordion 1 -->
                        <div class="panel panel-default">
                            <!-- Toggle Heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-check-circle-o"></i> Excellent performance
                                    </a>
                                </h4>
                            </div>
                            <!-- Toggle Content -->
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">Our profile shows that we are an IT consultants and Application Development house, experts in Business/System Analysis & Architecture and in providing business enterprises with fully integrated Windows & Web Applications for a complex environment.</div>
                            </div>
                        </div>
                        <!-- End Accordion 1 -->
                        <!-- Start Accordion 2 -->
                        <div class="panel panel-default">
                            <!-- Toggle Heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-check-circle-o"></i> Reliability
                                    </a>
                                </h4>
                            </div>
                            <!-- Toggle Content -->
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">Our proven reliability means that businesses can count on us to continue deliver our services no matter what the circumstances. Also, we deliver positive, rapid and the best return on investment "ROI" solutions for our customers.</div>
                            </div>
                        </div>
                        <!-- End Accordion 2 -->
                        <!-- Start Accordion 3 -->
                        <div class="panel panel-default">
                            <!-- Toggle Heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-check-circle-o"></i> Sustainability
                                    </a>
                                </h4>
                            </div>
                            <!-- Toggle Content -->
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body"> Through minimizing maintenance and support requirements by providing you with sustainable solutions. Our experience enables us to focus on helping our clients to achieve their missions and not just on meeting contractual requirements.</div>
                            </div>
                        </div>
                        <!-- End Accordion 3 -->
                        <!-- Start Accordion 4 -->
                        <div class="panel panel-default">
                            <!-- Toggle Heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-check-circle-o"></i> Client Partnership
                                    </a>
                                </h4>
                            </div>
                            <!-- Toggle Content -->
                            <div id="collapse-4" class="panel-collapse collapse">
                                <div class="panel-body"> We form a partnership with our customers which ensure their participation in the development and implementation process and keep them in the informed regarding project events.</div>
                            </div>
                        </div>
                        <!-- End Accordion 4 -->

                    </div>
                </div>

            </div>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:50px;"></div>

            <!-- Start Clients Carousel -->
            <div class="our-clients">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Our Happy Clients</span></h4>

                <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">

                    <!-- Client 1 -->
                    <div class="client-item item">
                        <a href="http://www.bruzar.co.za/">
                            <img src="~/images/bruzarLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 2 -->
                    <div class="client-item item">
                        <a href="http://www.rustiviametals.co.za/">
                            <img src="~/images/RustiviaLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 3 -->
                    <div class="client-item item">
                        <a href="http://www.azolahumancapital.com/">
                            <img src="~/images/azolaLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 4 -->
                    <div class="client-item item">
                        <a href="http://www.proforcesecurity.co.za/">
                            <img src="~/images/ProforceLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 5 -->
                    <div class="client-item item">
                        <a href="http://www.taggalong.com/">
                            <img src="~/images/taggLogo.png" alt="" />
                        </a>
                    </div>

                </div>
            </div>
            <!-- End Clients Carousel -->


        </div>
    </div>
</div>
<!-- End content -->
<!--
<div class="about">
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">About Our Company</h1>
        </section>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 about_left">
            <h3 class="m_2">TussoTechnologies</h3>
            <ul class="about_grid1 about_box">
                <li class="about_img"><img src="/images/a1.jpg" class="img-responsive" alt="" /></li>
                <li class="about_desc">
                    <p>When it comes to fulfilling business requirements and challenges, Tusso technologies provides the world’s most advanced Information and a Communication Technology (ICT) products, services and solutions. </p>
                    <p>Tusso technologies provides the technology, knowledge, skills and organisational ability critical to Africa’s development and growth. Following the Consulting, Technology and Design models, we provide high value, end-to-end solutions to our clients.</p>
                </li>
            </ul>
            <h3 class="m_2">Our Vision</h3>
            <ul class="about_grid1 about_box">
                <li class="about_img"><img src="/images/vision.png" class="img-responsive" alt="" /></li>
                <li class="about_desc">
                    <p>To give every business the opportunity to use best technology systems to help them focus on their core operation and grow their business.</p>
                    <p>
                        <h2>Values</h2>
                        <ul class="values">
                            <li>Service excellence :- Develop and Implement customizeed solutions.</li>
                            <li>Create Quality and Innovation.</li>
                            <li>Do More with Less.</li>
                            <li>Accountable for commitments, results, and quality to our customers.</li>
                        </ul>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="m_2">Tusso Technologies on Facebook</h3>
            <div class="list styled custom-list">
                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FTussotechnologies&width=400&colorscheme=light&show_faces=true&border_color=&stream=true&header=true&height=600" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; background: white; float:left; height:600px" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>-->
