<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="~/images/slider/bg1.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated2">
                            <span>Welcome to <strong>Tusso Technologies</strong></span>
                        </h2>
                        <h3 class="animated3">
                            <span>The ultimate aim of your business</span>
                        </h3>
                        @*<p class="animated4">
                            <a href="#" class="slider btn btn-system btn-large">Check Now</a>
                        </p>*@
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/images/slider/bg2.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            <span><strong>Tusso Technologies</strong> for the highest</span>
                        </h2>
                        <h3 class="animated5">
                            <span>Everything should be made as simple as possible but not simpler</span>
                        </h3>
                    </div>
                </div>
            </div>
            `
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/images/slider/bg3.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated7 white">
                            <span>Nothing will work unless you<strong> DO</strong></span>
                        </h2>
                        <h3 class="animated8 white">
                            <span>Why you are waiting</span>
                        </h3>
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
    <!-- /carousel -->
</section>

<div class="section service">
    <div class="container">
        <div class="row">

            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-icon">
                    <i class="fa fa-leaf icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Software Development</h4>
                    <p>We specialize in custom software development for business. We convert your ideas to application</p>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
                <div class="service-icon">
                    <i class="fa fa-desktop icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Internet Connectivity</h4>
                    <p>We provide you with the best internet that not only offers fast internet access, but also meets your needs and budget.</p>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
                <div class="service-icon">
                    <i class="fa fa-gears icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>IT Support</h4>
                    <p>We provide IT support for servers and desktop PCs as well as maintaining IT systems. We offer remote support to clients.</p>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
                <div class="service-icon">
                    <i class="fa fa-globe icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Website Hosting</h4>
                    <p>We provide organizations with the best hosting and domain managment service, we know how to set up your website for online success.</p>
                </div>
            </div>
            <!-- End Service Icon 4 -->
            <!-- Start Service Icon 5 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="05">
                <div class="service-icon">
                    <i class="fa fa-rocket icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>(Virtual Private Network)VPN</h4>
                    <p>Allows users to connect with email servers, file servers and other common resources while working remotely</p>
                </div>
            </div>
            <!-- End Service Icon 5 -->
            <!-- Start Service Icon 6 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="06">
                <div class="service-icon">
                    <i class="fa fa-envelope-square icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Email Hosting</h4>
                    <p>We manage your emails so you can focus on your business. We synchronise emails with mobile devices.</p>
                </div>
            </div>
            <!-- End Service Icon 6 -->
            <!-- Start Service Icon 7 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="07">
                <div class="service-icon">
                    <i class="fa fa-download icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Offsite BackUp</h4>
                    <p>Make secure back-ups from PC’s, laptops and servers, restore to a specific date & time. Recover & restore complete databases</p>
                </div>
            </div>
            <!-- End Service Icon 7 -->
            <!-- Start Service Icon 8 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="08">
                <div class="service-icon">
                    <i class="fa fa-fax icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>VOIP Telephones</h4>
                    <p>Reap the benefits of cost-efficient call routing with simple technology that integrates VoIP</p>
                </div>
            </div>
            <!-- End Service Icon 8 -->

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>


<div class="section purchase">
    <div class="container">

        <!-- Start Video Section Content -->
        <div class="section-video-content text-center">

            <!-- Start Animations Text -->
            <h1 class="fittext wite-text uppercase tlt">
                <span class="texts">
                    <span>It's not about the use of technology, We live technology.</span>
                    <span>Invent tomorrow instead of worrying about what happened yesterday</span>
                    <span>We are changing the world with technology</span>
                    <span>Sharing is good, with digital technology,sharing is easy</span>
                    <span>Innovation and Creativity is the only way we know</span>
                </span>
            </h1>
            <!-- End Animations Text -->
            <!-- Start Buttons -->
            <a href="#" class="btn-system btn-large"></a>
            <a href="#" class="btn-system btn-large btn-wite"></a>

        </div>
        <!-- End Section Content -->
    </div>
    <!-- .container -->
</div>

<div class="section full-width-portfolio" style="border-top: 0; border-bottom: 0; background: #fff;">

    <!-- Start Big Heading -->
    <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
        <h1>This is Our Latest <strong>Work</strong></h1>
    </div>
    <!-- End Big Heading -->

    <p class="text-center">
        <a href="http://www.taggalong.com/"><strong>Taggalong</strong></a> is a web application which helps people in finding and getting connected with rides to a destination of your choice at a time you want.
    </p>
</div>
<!-- End Portfolio Section -->
<!-- Start Testimonials Section -->
@*<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!-- Start Recent Posts Carousel -->
                <div class="latest-posts">
                    <h4 class="classic-title"><span>Latest News</span></h4>
                    <div class="latest-posts-classic custom-carousel touch-carousel" data-appeared-items="2">

                        <!-- Posts 1 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">02</span><span class="month">MAR</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Process Automation For small Business</a></h3>
                            <div class="post-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>

                        <!-- Posts 2 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">05</span><span class="month">June</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Custom Software Appliations</a></h3>
                            <div class="post-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>

                        <!-- Posts 3 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Iframe Video Post</a></h3>
                            <div class="post-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>

                        <!-- Posts 4 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Gallery Post</a></h3>
                            <div class="post-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>

                        <!-- Posts 5 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Standard Post without Image</a></h3>
                            <div class="post-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>

                        <!-- Posts 6 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Iframe Audio Post</a></h3>
                            <div class="post-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Recent Posts Carousel -->

            </div>

            <div class="col-md-4">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Testimonials</span></h4>

                <!-- Start Testimonials Carousel -->
                <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
                    <!-- Testimonial 1 -->
                    <div class="classic-testimonials item">
                        <div class="testimonial-content">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="testimonial-author"><span>John Doe</span> - Customer</div>
                    </div>
                    <!-- Testimonial 2 -->
                    <div class="classic-testimonials item">
                        <div class="testimonial-content">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="testimonial-author"><span>John Doe</span> - Customer</div>
                    </div>
                    <!-- Testimonial 3 -->
                    <div class="classic-testimonials item">
                        <div class="testimonial-content">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="testimonial-author"><span>John Doe</span> - Customer</div>
                    </div>
                </div>
                <!-- End Testimonials Carousel -->

            </div>
        </div>
    </div>
</div>*@
<!-- End Testimonials Section -->


<div id="parallax-one" class="parallax" style="background-image: url(/images/parallax/bg-02.jpg);">
    <div class="parallax-text-container-1">
        <div class="parallax-text-item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-4">
                        <div class="counter-item">
                            <i class="fa fa-check"></i>
                            <div class="timer" id="item2" data-to="17" data-speed="5000"></div>
                            <h5>Projects completed</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-4">
                        <div class="counter-item">
                            <i class="fa fa-code"></i>
                            <div class="timer" id="item3" data-to="54384" data-speed="5000"></div>
                            <h5>Lines of code written</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-4">
                        <div class="counter-item">
                            <i class="fa fa-male"></i>
                            <div class="timer" id="item4" data-to="4" data-speed="5000"></div>
                            <h5>Happy clients</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Client/Partner Section -->
<div class="partner">
    <div class="container">
        <div class="row">

            <!-- Start Big Heading -->
            <div class="big-title text-center">
                <h1>Our Happy <strong>Clients</strong></h1>
                <p class="title-desc">Partners We Work With</p>
            </div>
            <!-- End Big Heading -->
            <!--Start Clients Carousel-->
            <div class="our-clients">
                <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">

                    <!-- Client 1 -->
                    <div class="client-item item">
                        <a href="http://www.bruzar.co.za/">
                            <img src="~/images/bruzarLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 2 -->
                    <div class="client-item item">
                        <a href="http://www.rustiviametals.co.za/">
                            <img src="~/images/RustiviaLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 3 -->
                    <div class="client-item item">
                        <a href="http://www.azolahumancapital.com/">
                            <img src="~/images/azolaLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 4 -->
                    <div class="client-item item">
                        <a href="http://www.proforcesecurity.co.za/">
                            <img src="~/images/ProforceLogo.png" alt="" />
                        </a>
                    </div>

                    <!-- Client 5 -->
                    <div class="client-item item">
                        <a href="http://www.taggalong.com/">
                            <img src="~/images/taggLogo.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Clients Carousel -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>