

<!-- Container -->
<div id="container">
    <div class="page-banner" style="padding:40px 0; background: url(/images/slide-02-bg.jpg) center #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Services</h2>
                    <p>We Are Professional</p>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="page-content">


                <div class="row">

                    <!-- Start Image Service Box 1 -->
                    <div class="col-md-4 image-service-box">
                        <img class="img-thumbnail" src="~/images/itSupport.png" alt="support" />
                        <h4>IT Support</h4>
                        <p>
                            Tusso Technologies provides IT Support for all types of companies around the country.
                            Our management software allows us to login whereever we are to fix any IT related issue.We maintains high levels
                            of service throughout our company so you can be assured to receive best service from us.
                        </p>
                    </div>
                    <!-- End Image Service Box 1 -->
                    <!-- Start Image Service Box 2 -->
                    <div class="col-md-4 image-service-box">
                        <img class="img-thumbnail" src="~/images/voip.jpg" alt="voip" />
                        <h4>VOIP Telephones</h4>
                        <p>
                            Our telecom agent is a cloud communications provider focused on telecommunication and enhanced VoIP
                            including toll free services, call recording,  cloud PBXs, call Centre solutions, Business telephone system,
                            VoIP phone system, call-back capabilities and conference calling.
                        </p>
                    </div>
                    <!-- End Image Service Box 2 -->
                    <!-- Start Image Service Box 3 -->
                    <div class="col-md-4 image-service-box">
                        <img class="img-thumbnail" src="~/images/softwareDev.jpg" />
                        <h4>Software Development</h4>
                        <p>
                            We offer enterprise solutions addressing business needs. Tusso technologies offer technologies including:
                            Enterprise Content Management solutions, Archiving, Document Management, Workflow Automation solutions and
                            Web Design.
                        </p>
                    </div>
                    <!-- End Image Service Box 3 -->

                </div>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:45px;"></div>

                <div class="row">

                    <div class="col-md-4">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>We Are Awesome</span></h4>

                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                            <!-- Start Accordion 1 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-eye"></i> Our Mission
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-one" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        To serve and to protect the interest of our Clients through providing the best services available.
                                        To provide both the private and public sector with innovative solutions that exploit the potential of cutting-edge Information Technologies.
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion 1 -->
                            <!-- Start Accordion 2 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-university"></i>Our Staff
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-tow" class="panel-collapse collapse">
                                    <div class="panel-body">We believe that the best technologies supplemented with the robust technical skills of staff will result in a unique blend of background and experience that can be efficiently utilized in a wide range of business challenges.</div>
                                </div>
                            </div>
                            <!-- End Accordion 2 -->
                            <!-- Start Accordion 3 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-database"></i> Our Technologies
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-three" class="panel-collapse collapse">
                                    <div class="panel-body">We work to expand our technical and business ability to provide customers with desired solutions by developing our own technical programmable resources and expanding resources in terms of technical skills and programming tools.</div>
                                </div>
                            </div>
                            <!-- End Accordion 3 -->

                        </div>
                        <!-- End Accordion -->

                    </div>

                    <div class="col-md-8">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Other Services</span></h4>

                        <div class="row">

                            <!-- Start Service Icon 1 -->
                            <div class="col-md-6 service-box service-icon-left-more">
                                <div class="service-icon">
                                    <i class="fa fa-magic icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4>Internet Connectivity</h4>
                                    <p>We provide you with the best internet that not only offers fast internet access, but also meets your needs and budget.</p>
                                </div>
                            </div>
                            <!-- End Service Icon 1 -->
                            <!-- Start Service Icon 2 -->
                            <div class="col-md-6 service-box service-icon-left-more">
                                <div class="service-icon">
                                    <i class="fa fa-users icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4>VPN</h4>
                                    <p>Allows users to connect with email servers, file servers and other common resources while working remotely.</p>
                                </div>
                            </div>
                            <!-- End Service Icon 2 -->
                            <!-- Start Service Icon 3 -->
                            <div class="col-md-6 service-box service-icon-left-more">
                                <div class="service-icon">
                                    <i class="fa fa-globe icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4>Website Hosting</h4>
                                    <p>We provide organizations with the best hosting and domain managment service, we know how to set up your website for online success.</p>
                                </div>
                            </div>
                            <!-- End Service Icon 3 -->
                            <!-- Start Service Icon 4 -->
                            <div class="col-md-6 service-box service-icon-left-more">
                                <div class="service-icon">
                                    <i class="fa fa-envelope-square icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4>Email Hosting</h4>
                                    <p>We manage your emails so you can focus on your business. We synchronise emails with mobile devices.</p>
                                </div>
                            </div>
                            <!-- End Service Icon 4 -->
                        </div>
                    </div>

                </div>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:25px;"></div>

                <div class="row">

                    <div class="col-md-12">

                        <!-- Start Clients Carousel -->
                        <div class="our-clients">

                            <!-- Classic Heading -->
                            <h4 class="classic-title"><span>Our Clients</span></h4>

                            <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">
                                <!-- Client 1 -->
                                <div class="client-item item">
                                    <a href="http://www.bruzar.co.za/">
                                        <img src="~/images/bruzarLogo.png" alt="bruzar" />
                                    </a>
                                </div>

                                <!-- Client 2 -->
                                <div class="client-item item">
                                    <a href="http://www.rustiviametals.co.za/">
                                        <img src="~/images/RustiviaLogo.png" alt="rustivia" />
                                    </a>
                                </div>

                                <!-- Client 3 -->
                                <div class="client-item item">
                                    <a href="http://www.azolahumancapital.com/">
                                        <img src="~/images/azolaLogo.png" alt="azola" />
                                    </a>
                                </div>

                                <!-- Client 4 -->
                                <div class="client-item item">
                                    <a href="http://www.proforcesecurity.co.za/">
                                        <img src="~/images/ProforceLogo.png" alt="proforce" />
                                    </a>
                                </div>

                                <!-- Client 5 -->
                                <div class="client-item item">
                                    <a href="http://www.taggalong.com/">
                                        <img src="~/images/taggLogo.png" alt="taggalong" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Clients Carousel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>
<!-- End Container -->
