  <!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Support Service</h2>
                <p>IT Support to enable success</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li>Support</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<div id="content">
    <div class="container">
        <div class="page-content">

            <!-- Start Call Action -->
            <div class="call-action call-action-boxed call-action-style1 no-descripton clearfix" style="color:#94c523;border:1.5px solid; border-color:#94c523;border-radius:2%">
                <h2 class="primary"><strong>Tusso</strong> Simplify support by resolving IT issues more quickly to help save down time.</h2>
            </div>
            <!-- End Call Action -->
            <!-- Divider -->
            <div class="hr1" style="margin-bottom:4%;"></div>

            <!-- Start Call Action -->
            <div class="call-action call-action-boxed call-action-style1 clearfix" style="color:#94c523;border:1.5px solid; border-color:#94c523;border-radius:2%">
                <!-- Call Action Button -->
                <h2 class="primary"><strong>Helpdesk Support</strong></h2>
                <p>Tusso Technologies offers helpdesk Support via telephone and email. Our support team will help resolve any technical problem, giving you a clear simple solution.</p>
            </div>
            <!-- End Call Action -->
            <!-- Divider -->
            <div class="hr1" style="margin-bottom:4%;"></div>

            <!-- Start Call Action -->
            <div class="call-action call-action-boxed call-action-style1 clearfix" style="color:#94c523;border:1.5px solid; border-color:#94c523;border-radius:2%">
                <h2 class="primary"><strong>Increases availability</strong></h2>
                <p>Help prevent downtime with proactive, first-rate service from a single, trusted provider</p>
            </div>
            <!-- End Call Action -->
            <!-- Divider -->
            <div class="hr1" style="margin-bottom:4%;"></div>

            <!-- Start Call Action -->
            <div class="call-action call-action-boxed call-action-style2 clearfix" style="color:#94c523;border:1.5px solid; border-color:#94c523;border-radius:2%">
                <h2 class="primary">Help protect your business and your brand by using a single provider for IT issue resolution</h2>
            </div>
            <!-- End Call Action -->
            <!-- Divider -->
            <div class="hr1" style="margin-bottom:4%;"></div>

            <!-- Start Call Action -->
            <div class="call-action call-action-boxed call-action-style3 clearfix" style="color:#94c523;border:2px solid; border-color:#94c523;border-radius:2%">
                <!-- Call Action Button -->
                <div class="button-side" style="margin-top:10px;"> <a href="http://download.teamviewer.com/download/TeamViewer_Setup-ioc.exe" class="btn-system border-btn btn-medium">
                  <img src="~/images/teamViewer.png" style="height: 50px;width: 50px" /><i class="icon-basket"></i>Download TeamViewer</a></div>
                <!-- Call Action Text -->
                <h2 class="primary">TeamViewer</h2>
                <p>TeamViewer provides easy, fast and secure remote access to a computer.</p>
            </div>
            <!-- End Call Action -->

        </div>
    </div>
</div>
