<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="TussoTech" connectionString="Data Source=.\NNDAVHE;Initial Catalog=TussoTech;Integrated Security=True" providerName="System.Data.SqlClient" />
        <!--<add name="TussoTech" providerName="MySql.Data.MySqlClient" connectionString="server=poisonivy.aserv.co.za;UserId=tussopkj_user;Password=rM88xeKf;database=tussopkj_db;CharSet=utf8;Persist Security Info=True"/>
        <add name="TussoTech" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;UserId=root;Password=Tshivha001;database=TussoTech;CharSet=utf8;Persist Security Info=True"/>-->
        <!--<add name="TussoTech" providerName="MySql.Data.MySqlClient" connectionString="server=poisonivy.aserv.co.za;UserId=tussopkj_user;Password=rM88xeKf;database=tussopkj_db;CharSet=utf8;Persist Security Info=True"/>-->
      <add name="TussoTech" connectionString="Data Source=.\NNDAVHE;Initial Catalog=TussoTech;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TussoTechWebsite-20150407011558.mdf;Initial Catalog=aspnet-TussoTechWebsite-20150407011558;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="EmailUserName" value="Ndavhe@tussotechnologies.co.za" />
        <add key="WebsiteEmail" value="Info@tussotechnologies.co.za" />
        <add key="EmailPassword" value="Tshivha001" />
        <add key="EmailHost" value="mail.tussotechnologies.co.za" />
        <add key="ConnectionStringName" value="TussoTech" />
        <add key="LogoPath" value="\images\logo.jpg" />
        <add key="Employees" value="Ndavhe;Riwanise;Andani;Outsoursed" />
        <add key="EmployeesEmails" value="Ndavhe@tussotechnologies.co.za;Riwanise@tussotechnologies.co.za;Andani@tussotechnologies.co.za" />
    </appSettings>
    <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="214748364" />
    </system.web>
    <system.webServer>
        <modules>
            <remove name="FormsAuthentication" />
        </modules>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
  <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </providers>
    </entityFramework>
    <!--<entityFramework  codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6" />-->
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
</configuration>