@{
    ViewBag.Title = "Reports";
}

<div style="margin-top: 10px;">
    <table style="border-bottom: 1px solid #5D5A53; float: left; width: 100%;">
        <tr>
            <td style="width: 50%">
                <input class="btn btn-primary" 
                       type="button" onclick=" location.href='@Url.Action("WeeklyPurchase", "Reports")    ' " value=" weekly purchase" />
            </td>
        </tr>
    </table>

</div>
