<script>
    $(function () {

        var arr =@ViewBag.MonthlyTotal;

        $('#container2').highcharts({
            chart: {
                type: 'column'
            }, title: {
                text: 'Month Report'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Quantity (KG)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '<b>{point.y:.0f} KG</b>'
            },
            series: [{
                name: 'Population',
                data: [
                    ['Jan', arr[0]],
                    ['Feb', arr[1]],
                    ['Mar', arr[2]],
                    ['Apr', arr[3]],
                    ['May', arr[4]],
                    ['Jun', arr[5]],
                    ['Jul', arr[6]],
                    ['Aug', arr[7]],
                    ['Sep', arr[8]],
                    ['Oct', arr[9]],
                    ['Nov', arr[10]],
                    ['Dec', arr[11]]
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.0f}', // one decimal
                    y: 5, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });
</script>



<div id="container2" style="min-width: 300px; height: 400px; margin: 0 auto"></div>