@*
    Iván Loire - www.iloire.com
    Please readme README file for license terms.

    ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model List<IGrouping<DateTime, IntroductionMVC5.Models.Integrator.Purchase>>
<table class="table table-bordered">

    <thead>
        <tr>
            @foreach (var item in Model)
            {
                <th class="info">
                    @item.Key.ToString("yyyy-MM-dd")
                </th>
            }
            <th class="danger">
                Total
            </th>
        </tr>

    </thead>
    <tr>
        @foreach (var item in Model.Distinct())
        {
            <th class="success">
                @String.Format("{0} KG", item.Sum(s => s.WeighBridgeInfo.NettMass))
            </th>
        }
        <td class="danger">
            @String.Format("{0} KG", Model.Sum(s => s.Sum(d => d.WeighBridgeInfo.NettMass)))
        </td>
    </tr>
</table>
